---
const { title, course, level, risk, goal, usedWhen, ingredients } = Astro.props;
---

<article class="recipe">
    <!-- TAGS -->
    <div class="recipe-tags">
        <span class="tag">{course}</span>
        <span class="tag">{level}</span>
        <span class="tag">{risk}</span>
    </div>

    <h1>{title}</h1>
    <section class="recipe-intent">
        <div class="context">
            <div class="goal">
                <h2>Goal</h2>
                <p>{goal}</p>
            </div>
            <div>
                <h3>Used When</h3>
                <ul>
                    {usedWhen.map((item) => <li>{item}</li>)}
                </ul>
            </div>

            <div>
                <h3>Ingredients</h3>
                <ul>
                    {ingredients.map((item) => <li>{item}</li>)}
                </ul>
            </div>
        </div>
        <div class="recipe-method">
            <h2>Method</h2>
            <slot />
        </div>
    </section>
</article>
